<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button aria-label="Add Timer" color="primary" (click)="navigateBack()">
        <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ timer.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <p class="description-text">Exercise Duration: {{ timer.exerciseDuration }} sec</p>
    <p class="description-text">Rest Duration: {{ timer.restDuration }} sec</p>
    <p class="description-text">Rounds: {{ timer.rounds }}</p>
    @if (currentPhase === "notStarted") {
    <ion-button (click)="startTimer()" expand="block">
      Start
    </ion-button>
    } @else if (currentPhase === "exercise") {
    <p class="timer-text">
      Round {{ currentRound }} of {{ timer.rounds }}
    </p>
    <p class="timer-text">
      Exercise phase: {{ secondsLeft }} sec
    </p>
    } @else if (currentPhase === 'rest') {
    <p class="timer-text">
      Round {{ currentRound }} of {{ timer.rounds }}
    </p>
    <p class="timer-text">
      Rest phase: {{ secondsLeft }} sec
    </p>
    } @else if (currentPhase === 'completed') {
    <p class="timer-text">
      The workout is finished!
    </p>
    }
  </ion-list>
</ion-content>